{% extends 'base.html.twig' %}

{% block title %} Create post {% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{- form_errors(form) -}}
    {{ form_widget(form) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    {{ form_end(form) }}
{% endblock %}